*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: darkblue;
    color: white;

}
.btn{
    display: flex;
    align-items: center;
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 20px;

}
.backpage{
    text-decoration: none;
}

.container{
    width: 80%;
    /* margin-left: 0;
    margin-right: 0; */
    align-items: center;
    justify-content: center;
}
.detail{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 30px 20px;
    gap: 20px;

}
.infor{
    padding: 20px;
}

.price-detail{
    font-size: 24px;
    color: rgb(255, 0, 0);
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
.gallery{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
}

.sub-img{
    width: 60%;
    height: auto;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid white;
    border-radius:5px;
    text-align: center;
}
.main-img img{
    width: 100%;
    height: auto;

}   
.thumnail{
    overflow-y: auto;
    max-height: 300px;
    direction: rtl;

}
.Relate h3{
    margin-left: 20px;
    margin-bottom: 20px;
    border-left: 5px solid red;
    padding-left: 10px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 10px 20px;
    align-items: center;
    justify-content: center;

}
.product-card{
    background-color: rgb(215, 230, 243);
    /* width: 100%;
    height: auto; */
    padding: 10px;
    border-radius: 10px;
    text-align: center;


}
.product-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.title{
    font-size: 18px;
    margin-bottom: 10px;
    color: black ;
    font-style: bold;
}
.price{
    font-size: 18px;
    color: rgb(3, 156, 3);
    font-weight: bold;
}
.nav-link li a:hover{
    color: blue;
    transition: 0.3s;
    font-size: 21px;
}
.product-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: 0.3s;
}
.bottom-bar{
    background-color: cornflowerblue;
    display: none;
}
.bottom-link{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 0;
}
.bottom-link a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.bottom-link li{
    display: flex;
    align-items: center;
    flex-direction: column;

}

/* Laptop View */
@media (max-width: 1200px) {

}

/* Mobile View */
@media (max-width: 768px) {
    .menu{
        display: block;
        font-size: 30px;
        color: rgb(0, 0, 0);
        cursor: pointer;
        
    }
    .nav-link{
        display: none;
    }
    .logo img{
        width: 50px;
    }
    .product-grid{
        grid-template-columns: 1fr 1fr;
        margin: 5px 10px;
    }
    .bottom-bar{
        display: block;

    }

    .detail{
        grid-template-columns: 1fr;
    
    }
    .gallery{
        grid-template-columns: 1fr;
    }
    .thumnail{

            order: 2;
    display: flex;
    direction: ltr;
    overflow-x: scroll;
    gap: 6px;

    }
    .sub-img{
        width: 20%;
    }



    .container{
        width: 95%;
    }



}